<div id="about" class="container">
  <div class="row" style="padding: 24px 0;">
    <div class="col-md-5">
      <div class="card shadow">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/kevctae.appspot.com/o/images%2Fkevin_profile.jpg?alt=media&token=6c77fb07-956e-41d0-aa0f-cd54d9e23083"
          class="card-img-top"
          alt="Kevin Chakornsiri"
          style="border-radius: 8px 8px 0px 0px;">
        <div class="card-body">
          <h5 class="card-title">Kevin Chakornsiri</h5>
          <h6 class="card-subtitle mb-2 text-muted">Developer</h6>

          <p class="card-text">
            <i class="bi bi-geo-alt-fill"></i>Bangkok, Thailand (Currently Exchange at US)
          </p>
          <p class="card-text">
            <i class="bi bi-phone-fill"></i>(TH) +66 91-016-2526
          </p>
          <p class="card-text">
            <i class="bi bi-phone"></i>(US) +1(603)213-2967
          </p>
          <p class="card-text">
            <i class="bi bi-envelope-fill"></i>kevin.chakorn@gmail.com
          </p>
          
          <a
            href="https://drive.google.com/file/d/1lUJT0cBAGIik687226NGiY1-te7eAyDw/view?usp=sharing"
            class="card-link"
            target="_blank">Resume</a>
        </div>
      </div>

      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Languages</h5>

          <div class="row">
            <div class="col-4">
              <p>English</p>
            </div>

            <div class="col-8">
              <p class="text-end">
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle-half"></i>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <p>Thai</p>
            </div>

            <div class="col-8">
              <p class="text-end">
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle"></i>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <p>Chinese</p>
            </div>

            <div class="col-8">
              <p class="text-end">
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle-fill"></i>
                <i class="bi bi-circle"></i>
                <i class="bi bi-circle"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="card-title">A short introduction</h4>
          <p class="card-text">
            Hello! My name is Kevin Chakornsiri, and I'm currently an exchange student at Dartmouth College. 
            I've worked on many information technology-related projects ever since I entered university. 
            Many projects that I've done have given me much knowledge and experience, and I hope to one day 
            make a career out of it.
          </p>
        </div>
      </div>

      <div class="card shadow">
        <div class="card-body">
          <h4 class="card-title">Education</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5>Dartmouth College</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                September 2021 - Present
              </h6>
              <p class="card-text">
                4th Year, Exchange Students
              </p>
              <p class="card-text">
                <i class="bi bi-geo-alt-fill"></i>Hanover, United States
              </p>
              <p class="card-text">
                <i class="bi bi-mortarboard-fill"></i>GPAX 3.89 / 4.00
              </p>
            </li>

            <li class="list-group-item">
              <h5>Chulalongkorn University</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                August 2018 - June 2021
              </h6>
              <p class="card-text">
                1st - 3rd Year, International School of Engineering (ISE), Major in Information and Communication
              </p>
              <p class="card-text">
                <i class="bi bi-geo-alt-fill"></i>Bangkok, Thailand
              </p>
              <p class="card-text">
                <i class="bi bi-mortarboard-fill"></i>GPAX 3.89 / 4.00
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="card shadow">
        <div class="card-body">
          <h4 class="card-title">Skills</h4>
          
          <div class="progress" style="height: 10px;">
            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">
            Python
          </p>

          <div class="progress" style="height: 10px;">
            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">
            HTML
          </p>
  
          <div class="progress" style="height: 10px;">
            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">
            CSS
          </p>

          <div class="progress" style="height: 10px;">
            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">
            TypeScript
          </p>
        </div>
      </div>
    </div>
  </div>
</div>