<header id="header" class="fixed-bottom">
  <div class="container">
    <nav id="navbar" class="navbar navbar-expand-md navbar-light bg-light">  
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand mb-0 h1">kevctae</span>
        </div>
  
        <button
          class="navbar-toggler"
          type="button"
          (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse"
          id="navbarNavAltMarkup"
          #collapse="ngbCollapse"
          [(ngbCollapse)]="isCollapsed">
          <ul class="navbar-nav">
            <li class="navbar-item mr-auto">
              <a class="nav-link" href="#hero">Home</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="#">Blogs</a>
            </li>
          </ul>
  
          <ul class="navbar-nav ms-auto nav-flex-icons">
            <li class="navbar-item">
              <a class="nav-link" href="#">
                <img src="/assets/icons/github.svg" alt="GitHub" width="24" height="24">
              </a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="#">
                <img src="/assets/icons/linkedin.svg" alt="LinkedIn" width="24" height="24">
              </a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="#">
                <img src="/assets/icons/facebook.svg" alt="Facebook" width="24" height="24">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>