<div id="projects" class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      
      <!-- Timeline -->
      <ul class="timeline">
        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>

          <div class="row">
            <div class="col-md-5" style="margin: auto;">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/kevctae.appspot.com/o/images%2Fprojects%2Fabout_bittooth.jpg?alt=media&token=dae4a70d-3708-4d93-9fe8-cc95babf010b"
                class="img-fluid"
                alt="about_bitcoin"
                style="border-radius: 8px;">
            </div>

            <div class="col-md-7">
              <h2 class="h4 mb-0">Senior Project - Bittooth</h2>

              <span class="small text-muted">
                <i class="bi bi-clock-fill mr-4"></i>
                October, 2021 - Present
                <br>
                <i class="bi bi-person-badge-fill"></i>
                Developer
              </span>

              <p class="text-small mt-2 font-weight-light mb-0">
                A senior research project about predicting Bitcoin value. 
                The prediction model uses data from statistical analysis and 
                Twitter sentiments. The prediction model consist of a series of analysis, 
                which includes the use of Machine Learning and Natural Language Processing.
                It is currently in the development process.
              </p>
            </div>
          </div>
        </li>

        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>

          <div class="row">
            <div class="col-md-5" style="margin: auto;">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/kevctae.appspot.com/o/images%2Fprojects%2Fabout_covid.png?alt=media&token=5033d8a8-7438-4104-9a42-b510a56f88a4"
                class="img-fluid"
                alt="about_covid"
                style="border-radius: 8px;">
            </div>

            <div class="col-md-7">
              <h2 class="h4 mb-0">CovidSelfCheck</h2>

              <span class="small text-muted">
                <i class="bi bi-clock-fill mr-4"></i>
                June, 2020 - August 2021
                <br>
                <i class="bi bi-person-badge-fill"></i>
                Software Development Team Lead
                <br>
                <i class="bi bi-line"></i>
                @CovidSelfCheck
              </span>

              <p class="text-small mt-2 font-weight-light">
                A LINE Official Account that tracks symptoms of patients who are
                tested positive for COVID-19 daily. The symptoms are used to determine
                the severity of the condition, which is represented by different colors.
                The color is calculated from previously known data. Patients with risky
                color will automatically get transferred to nurses who'll follow up on the case
              </p>

              <p class="text-small mt-2 font-weight-light mb-0">
                This is a collaboration project between Com COVID-19, med4all, and various Chula students.
                The project helps lessened workload on the nurses who
                previously must take care of all patient cases. The project
                currenty tracked 1,950 patient
              </p>
            </div>
          </div>
        </li>

        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>

          <div class="row">
            <div class="col-md-5" style="margin: auto;">
              <div style="
                border-radius: 10px; 
                width: 100%; 
                height: 320px;
                overflow: hidden;">
                <iframe
                  src="https://www.youtube.com/embed/yGUZIyJlKTs?start=60"
                  width="100%"
                  height="100%"
                  title="YouTube video player"
                  frameborder="8"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </div>
            </div>

            <div class="col-md-7">
              <h2 class="h4 mb-0">PARK SA MART</h2>

              <span class="small text-muted">
                <i class="bi bi-clock-fill mr-4"></i>
                Jan, 2021 - June 2021
                <br>
                <i class="bi bi-person-badge-fill"></i>
                Project Manager / Software Developer
                <br>
                <i class="bi bi-github"></i>
                <a href="https://github.com/kevctae/park-sa-mart-FrontEnd">
                  FrontEnd
                </a>
                /
                <a href="https://github.com/kevctae/park-sa-mart-BackEnd">
                  BackEnd
                </a>
              </span>

              <p class="text-small mt-2 font-weight-light">
                A one-semester-long project that combines three courses at Chula.
                A smart garage system that automatically scans the license plate of the incoming car through a Machine
                Learning model and collects fees through a web application.
              </p>
            </div>
          </div>
        </li>

        <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <div class="timeline-arrow"></div>

          <div class="row">
            <div class="col-md-5" style="margin: auto;">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/kevctae.appspot.com/o/images%2Fprojects%2Fabout_book.png?alt=media&token=039015e8-9fc5-488d-8bc6-782150f348b1"
                class="img-fluid"
                alt="about_book"
                style="border-radius: 8px;">
            </div>
            
            <div class="col-md-7">
              <h2 class="h4 mb-0">CU Sports Center - Booking Website</h2>

              <span class="small text-muted">
                <i class="bi bi-clock-fill mr-4"></i>
                August, 2020 - October, 2021
                <br>
                <i class="bi bi-person-badge-fill"></i>
                Product Owner
                <br>
                <i class="bi bi-globe2"></i>
                <a href="https://book.cusc.chula.ac.th/">
                  https://book.cusc.chula.ac.th/
                </a>
              </span>

              <p class="text-small mt-2 font-weight-light mb-0">
                A project that digitalized the court booking system for CU Sports Center.
                The reservation system solves the problem where at least two of the sport center members
                must commit to reserve the court successfully. It is currently online and is 
                being used by the faculty members and students.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>