#bg-img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/personal-website-d942c.appspot.com/o/images%2Fkevin.jpg?alt=media&token=a1a4be31-7ccb-415a-9fef-301d055f0d80");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 426px) {
  #bg-img {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/personal-website-d942c.appspot.com/o/images%2Fkevin-1152x1536.jpg?alt=media&token=db7ea4cf-3419-405e-b077-e5fc82224f23");
  }
}